<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <h1>Animals Edit Page</h1>

    <div class="updatepage-container"></div>
    <form action="/animals/<%= animals._id %>?_method=PUT" method="POST">
        <label>Species</label>
        <input class="editpage" type="text" name="species" value="<%= animals.species %>"/><br>
        <label>Extinct</label>
        <input type="checkbox" name="extinct" <%= animals.extinct ? "checked" : "" %>/><br>
        <label>Location</label>
        <input class="editpage" type="text" name="location" value="<%= animals.location %>"/><br>
        <label>Life Expectancy</label>
        <input class="editpage" type="number" name="lifeExpectancy" value="<%= animals.lifeExpectancy %>"/><br><br>
        <input class="submit-button" type="submit" value="UPDATE ANIMAL" />

    </form>
</div>
    
</body>
</html>