<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>

<main>

    <div>
        <% for (let i = 0; i < animals.length; ++i) { %>
            <div class="animals">
                <a href="/animals/<%= animals[i]._id %>" >
                    <h2><%= animals[i].species %> - <%= animals[i].extinct ? "Extinct" : "Not Extinct" %>
                    </h2>
                    </a>
                    
                </div>
            </div>
        <% } %>
    </div>
</main>
  

</body>
</html>