<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>

    <div class="showcontainer">
        <div id="info">
            <p>Species: <%= animal.species %></p>
            <p>Extinct: <%= animal.extinct %></p>
            <p>Location: <%= animal.location %></p>
            <p>Life Expectancy: <%= animal.lifeExpectancy %></p>
   
        </div>
    </div>

    <div class="showcontainer">
        <div id="buttons">

            <form class="button-showpage" action="/animals/<%= index %>/edit">
                <input class="edit-button" type="submit" value="EDIT">
            
            <form class="button-showpage" action="/animals/<%= index %>?_method=DELETE" method="POST">
                <input class="delete-button" type="submit" value="DELETE">
            </form>
        </div>
    </div>

</body>
</html>