<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>

    <div class="showcontainer">
        <div id="info">
            <p>Species: <%= animals.species %></p>
            <p>Extinct: <%= animals.extinct %></p>
            <p>Location: <%= animals.location %></p>
            <p>Life Expectancy: <%= animals.lifeExpectancy %></p>
   
        </div>
    </div>

    <div class="showcontainer">
        <div id="buttons">
            <a href="/animals/<%= animals._id %>/edit"><button>Edit</button></a>
            <form action="/animals/<%= animals._id %>?_method=DELETE" method="POST">
              <button>Delete</button>
            </form>
        </div>
    </div>

</body>
</html>